<div class="container" ng-controller="MainController" xmlns="http://www.w3.org/1999/html">
  <h3 class="class1">
    Movies
    <div class="btn-group" uib-dropdown>
      <button id="single-button" type="button" class="btn btn-default" uib-dropdown-toggle ng-disabled="disabled">
        Genre <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
        <li role="menuitem"><a ng-click="genreSort(1)" role="button">Action</a></li>
        <li role="menuitem"><a ng-click="genreSort(2)" role="button">Adventure</a></li>
        <li role="menuitem"><a ng-click="genreSort(3)" role="button">Sci-Fi</a></li>
        <li role="menuitem"><a ng-click="genreSort(4)" role="button">Thriller</a></li>
        <li role="menuitem"><a ng-click="genreSort(5)" role="button">Crime</a></li>
        <li role="menuitem"><a ng-click="genreSort(6)" role="button">Drama</a></li>
        <li role="menuitem"><a ng-click="genreSort(7)" role="button">Fantasy</a></li>
        <li role="menuitem"><a ng-click="genreSort(8)" role="button">Comedy</a></li>
        <li role="menuitem"><a ng-click="genreSort(9)" role="button">History</a></li>
        <li role="menuitem"><a ng-click="genreSort(10)" role="button">All</a></li>
      </ul>
    </div>
    <div class="btn-group" uib-dropdown>
      <button id="single-button" type="button" class="btn btn-default" uib-dropdown-toggle ng-disabled="disabled">
        SortBy <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
        <li role="menuitem"><a ng-click="sortMovie(1)" role="button">Year</a></li>
        <li role="menuitem"><a ng-click="sortMovie(2)" role="button">IMDB Ratings</a></li>
        <li role="menuitem"><a ng-click="sortMovie(3)" role="button">IMDB Votes</a></li>
        <li role="menuitem"><a ng-click="sortMovie(4)" role="button">Remove sort</a></li>
      </ul>
    </div>
    <input class="test" type="text" ng-model="searchData" placeholder="Search">
    <button class="test" type="button" ng-click="search()">Search</button>
  </h3>
  <div class="row"><br/>
    <div class="scrolling" id="style-7">
      <div class="item" ng-repeat="movie in list | filter:'movie' | filter:filtText1 | filter:ordr1 | orderBy:sortTab1">
        <a role="button" ng-click="open(movie)"><img src="{{movie.Poster}}" style="height: 250px; width: 170px;"></a>
        <script type="text/ng-template" id="myModalContent.html">

          <div class="modal-header">
            <h3 class="modal-title text-center">{{movie.Title}}<small><strong><a href="https://www.imdb.com/title/{{movie.imdbID}}"> IMDB</a> : {{movie.imdbRating}}</strong></small></h3>
          </div>
          <div class="modal-body">
            <p><strong>Actors: {{movie.Actors}}</strong></p><br/>
            <p ng-repeat="x in movie.comms track by $index">{{x}}</p>
            <input type="text" ng-model="comment"><button type="button" ng-click="data(movie)">Click</button>
          </div>
          <div class="modal-footer">

          </div>

        </script>
      </div>
    </div>
  </div>
  <hr/>
  <h3 class="class1">TV Shows
    <div class="btn-group" uib-dropdown>
      <button id="single-button" type="button" class="btn btn-default" uib-dropdown-toggle ng-disabled="disabled">
        Genre <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
        <li role="menuitem"><a ng-click="genreSortTv(1)" role="button">Action</a></li>
        <li role="menuitem"><a ng-click="genreSortTv(2)" role="button">Adventure</a></li>
        <li role="menuitem"><a ng-click="genreSortTv(3)" role="button">Sci-Fi</a></li>
        <li role="menuitem"><a ng-click="genreSortTv(4)" role="button">Thriller</a></li>
        <li role="menuitem"><a ng-click="genreSortTv(5)" role="button">Crime</a></li>
        <li role="menuitem"><a ng-click="genreSortTv(6)" role="button">Drama</a></li>
        <li role="menuitem"><a ng-click="genreSortTv(7)" role="button">Fantasy</a></li>
        <li role="menuitem"><a ng-click="genreSortTv(8)" role="button">Comedy</a></li>
        <li role="menuitem"><a ng-click="genreSortTv(9)" role="button">History</a></li>
        <li role="menuitem"><a ng-click="genreSortTv(10)" role="button">All</a></li>
      </ul>
    </div>
    <div class="btn-group" uib-dropdown>
      <button id="single-button" type="button" class="btn btn-default" uib-dropdown-toggle ng-disabled="disabled">
        SortBy <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
        <li role="menuitem"><a ng-click="sortTv(1)" role="button">Year</a></li>
        <li role="menuitem"><a ng-click="sortTv(2)" role="button">IMDB Ratings</a></li>
        <li role="menuitem"><a ng-click="sortTv(3)" role="button">IMDB Votes</a></li>
        <li role="menuitem"><a ng-click="sortTv(4)" role="button">Remove sort</a></li>
      </ul>
    </div>
    <input class="test" type="text" ng-model="searchDataTv" placeholder="Search">
    <button class="test" type="button" ng-click="searchTv()">Search</button>
  </h3>
  <div class="row"><br/>
    <div class="scrolling" id="style-7">
      <div class="item" ng-repeat="movie in list | filter:'series' | filter:filtText2 | filter:ordr2 | orderBy:sortTab2">
        <a role="button" ng-click="open(movie)"><img src="{{movie.Poster}}" style="height: 250px; width: 170px;"></a>
        <!--<script type="text/ng-template" id="myModalContent.html">-->

          <!--<div class="modal-header">-->
            <!--<h3 class="modal-title text-center">{{movie.Title}}<small><strong> IMDB : {{movie.imdbRating}}</strong></small></h3>-->
          <!--</div>-->
          <!--<div class="modal-body">-->
            <!--<p><strong>{{movie.Actors}}</strong></p>-->
          <!--</div>-->
          <!--<div class="modal-footer">-->

          <!--</div>-->

        <!--</script>-->
      </div>
    </div>
  </div>
</div>
