<div class="container">
  <div ng-controller="MainController as mv">
  <h3 class="class1">
    Movies
    <div class="btn-group" uib-dropdown>
      <button id="single-button" type="button" class="btn btn-default" uib-dropdown-toggle ng-disabled="disabled">
        Genre <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
        <li role="menuitem"><a ng-click="mv.genreSort(1)" role="button">Action</a></li>
        <li role="menuitem"><a ng-click="mv.genreSort(2)" role="button">Adventure</a></li>
        <li role="menuitem"><a ng-click="mv.genreSort(3)" role="button">Sci-Fi</a></li>
        <li role="menuitem"><a ng-click="mv.genreSort(4)" role="button">Thriller</a></li>
        <li role="menuitem"><a ng-click="mv.genreSort(5)" role="button">Crime</a></li>
        <li role="menuitem"><a ng-click="mv.genreSort(6)" role="button">Drama</a></li>
        <li role="menuitem"><a ng-click="mv.genreSort(7)" role="button">Fantasy</a></li>
        <li role="menuitem"><a ng-click="mv.genreSort(8)" role="button">Comedy</a></li>
        <li role="menuitem"><a ng-click="mv.genreSort(9)" role="button">History</a></li>
        <li role="menuitem"><a ng-click="mv.genreSort(10)" role="button">All</a></li>
      </ul>
    </div>
    <div class="btn-group" uib-dropdown>
      <button id="single-button" type="button" class="btn btn-default" uib-dropdown-toggle ng-disabled="disabled">
        SortBy <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
        <li role="menuitem"><a ng-click="mv.sortMovie(1)" role="button">Year</a></li>
        <li role="menuitem"><a ng-click="mv.sortMovie(2)" role="button">IMDB Ratings</a></li>
        <li role="menuitem"><a ng-click="mv.sortMovie(3)" role="button">IMDB Votes</a></li>
        <li role="menuitem"><a ng-click="mv.sortMovie(4)" role="button">Remove sort</a></li>
      </ul>
    </div>
    <input class="test" type="text" ng-model="mv.filtText1" placeholder="Search">
    <!--<button class="test" type="button" ng-click="mv.search()">Search</button>-->
  </h3>
  <div class="row"><br/>
    <div class="scrolling" id="style-7">
      <div class="item" ng-repeat="movie in list | filter:'movie' | filter:mv.filtText1 | filter:mv.ordr1 | orderBy:mv.sortTab1">
        <a role="button" ng-click="mv.open(movie)"><img src="{{movie.poster}}" style="height: 250px; width: 170px;"></a>
        <script type="text/ng-template" id="myModalContent.html">

          <div class="modal-header">
            <h3 class="modal-title text-center">{{mi.movie.title}}<small><strong><a href="https://www.imdb.com/title/{{mi.movie.imdbID}}"> IMDB</a> : {{mi.movie.imdbRating}}</strong></small></h3>
          </div>
          <div class="modal-body">
            <p><strong>Director: {{mi.movie.director}}</strong></p>
            <p><strong>Actors: {{mi.movie.actors}}</strong></p>
            <p><strong>Plot: {{mi.movie.plot}}</strong></p>
            <p><strong>Comments:</strong></p>
            <p ng-repeat="x in mi.movie.comments.split(',')">{{x}}</p>
            <input type="text" ng-model="comm" ><button type="button" ng-click = "mi.click(movie)">Submit</button>
          </div>
          <div class="modal-footer">

          </div>

        </script>
      </div>
    </div>
  </div>
  </div>
  <hr/>
  <div ng-controller="MainController as tv">
  <h3 class="class1">TV Shows
    <div class="btn-group" uib-dropdown>
      <button id="single-button" type="button" class="btn btn-default" uib-dropdown-toggle ng-disabled="disabled">
        Genre <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
        <li role="menuitem"><a ng-click="tv.genreSort(1)" role="button">Action</a></li>
        <li role="menuitem"><a ng-click="tv.genreSort(2)" role="button">Adventure</a></li>
        <li role="menuitem"><a ng-click="tv.genreSort(3)" role="button">Sci-Fi</a></li>
        <li role="menuitem"><a ng-click="tv.genreSort(4)" role="button">Thriller</a></li>
        <li role="menuitem"><a ng-click="tv.genreSort(5)" role="button">Crime</a></li>
        <li role="menuitem"><a ng-click="tv.genreSort(6)" role="button">Drama</a></li>
        <li role="menuitem"><a ng-click="tv.genreSort(7)" role="button">Fantasy</a></li>
        <li role="menuitem"><a ng-click="tv.genreSort(8)" role="button">Comedy</a></li>
        <li role="menuitem"><a ng-click="tv.genreSort(9)" role="button">History</a></li>
        <li role="menuitem"><a ng-click="tv.genreSort(10)" role="button">All</a></li>
      </ul>
    </div>
    <div class="btn-group" uib-dropdown>
      <button id="single-button" type="button" class="btn btn-default" uib-dropdown-toggle ng-disabled="disabled">
        SortBy <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
        <li role="menuitem"><a ng-click="tv.sortMovie(1)" role="button">Year</a></li>
        <li role="menuitem"><a ng-click="tv.sortMovie(2)" role="button">IMDB Ratings</a></li>
        <li role="menuitem"><a ng-click="tv.sortMovie(3)" role="button">IMDB Votes</a></li>
        <li role="menuitem"><a ng-click="tv.sortMovie(4)" role="button">Remove sort</a></li>
      </ul>
    </div>
    <input class="test" type="text" ng-model="tv.filtText2" placeholder="Search">
    <!--<button class="test" type="button" ng-click="tv.search()">Search</button>-->
  </h3>
  <div class="row"><br/>
    <div class="scrolling" id="style-7">
      <div class="item" ng-repeat="movie in list | filter:'series' | filter:tv.filtText2 | filter:tv.ordr1 | orderBy:tv.sortTab1">
        <a role="button" ng-click="tv.open(movie)"><img src="{{movie.poster}}" style="height: 250px; width: 170px;"></a>
        <!--<script type="text/ng-template" id="myModalContent.html">-->

          <!--<div class="modal-header">-->
            <!--<h3 class="modal-title text-center">{{movie.Title}}<small><strong> IMDB : {{movie.imdbRating}}</strong></small></h3>-->
          <!--</div>-->
          <!--<div class="modal-body">-->
            <!--<p><strong>{{movie.Actors}}</strong></p>-->
          <!--</div>-->
          <!--<div class="modal-footer">-->

          <!--</div>-->

        <!--</script>-->
      </div>
    </div>
  </div>
</div>
</div>
