<header ui-view="header"></header>
<div class="col-md-offset-4 col-md-8 text-center">
  <div class="panel panel-primary" style="max-width: 400px;">
    <div class="panel-heading">
      <h3 class="panel-title">Create an Account</h3>
    </div>
    <div class="panel-body">
      <form name="myForm2" ng-controller="SignupController" novalidate>
        <div class="input-group-lg has-feedback">
          <input type="text" name="user2" minlength="6" ng-model="userInfo.username" class="form-control" placeholder="Username" required>
          <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="!myForm2.user2.$invalid"></span>
          <!--<span class="glyphicon glyphicon-remove form-control-feedback" ng-show="myForm2.user2.$touched && myForm2.user2.$invalid"></span>-->
        </div><br/>
        <div class="input-group-lg has-feedback">
          <input type="password" class="form-control" placeholder="Password" ng-model="userInfo.password" name="pwd2" minlength="6" required>
          <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="!myForm2.pwd2.$invalid"></span>
        </div><br/>
        <div class="input-group-lg has-feedback">
          <input type="email" class="form-control" placeholder="E-mail Address" ng-model="userInfo.email" name="email2" required>
          <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="!myForm2.email2.$invalid"></span>
        </div><br/>
        <div>
          <a class="btn btn-default btn-lg" ui-sref="login" ng-click="submit()" ng-disabled="myForm2.$invalid" >Create</a>
          <a class="btn btn-default btn-lg" ui-sref="egen">Cancel</a>
        </div>
      </form>
    </div>
  </div>
</div>
